@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Zilla+Slab:wght@300;400;600;700&display=swap');

:root{
  --rosado:#fe3281;
  --beige: #fff9f1;
  --blanco: #ffffff;
  --negro: #000000;
  --amarillo: #ffe8a4;
  --margen_izquierdo: 15px;
  --tipografiagruesa: 'Oswald', sans-serif;
  --tipografiadelgada: 'Zilla Slab', serif;
}
*{
  box-sizing: border-box;
}
body{
  font-family: 'Zilla Slab', serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background-color: var(--blanco);
}
.flecha {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    font-size: 40px;
    border: 1px #555555 solid;
   padding: 5px 5px;
   color: var(--rosado);
    border-radius: 50%;
  }
.ancho{
  max-width: 1200px;
  margin:auto;
  align-items: center;
  /* border:1px red solid; */
}
header{
  background-color: var(--beige);
  border-top: 15px var(--rosado) solid;
  padding-bottom: 20px;
}
.contenedor_cabecera{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
}
.contenedor_cabecera figure{
  width: 200px;
}
.contenedor_cabecera figure img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.iconosredes{
  /* flex-grow: 1;
  text-align:right; */
}
.iconosredes a{
  margin-right:30px;
  text-decoration:none;
  color:var(--negro);
  display: inline-block;
  transition: all .5s ease;
}
.iconosredes a:hover{
  color: var(--rosado);
}
.iconosredes a i{
  font-size:50px;
}
.contenedor_menu{
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: stretch;
  border: 2px var(--negro) solid;
}
.alineacion{
  width: 250px;
}
.contenedor_iconomenu{
  display:none;
  text-align: center;
}
#iconomenu{
  padding:10px;
  border-radius: 5px;
  background-color: var(--rosado);
  color: var(--blanco);
  font-size: 16px;
}
.contenedor_menu li{
}
.contenedor_menu li a{
  font-family: var(--tipografiagruesa);
  display: inline-block;
  padding:10px 15px;
  text-decoration: none;
  color:var(--negro);
  text-transform:uppercase;
  transition: all 0.5s ease;
}
.contenedor_menu li a:hover{
  color:var(--rosado);
}
.slidefotos{
  background-image: url(imagenes/slide1.jpg);
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -250px;
}
.infoslide{
  height:400px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color: var(--blanco);
}
.infoslide h1{
  font-family:var(--tipografiadelgada);
  font-weight:700;
}
.infoslide p{
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  line-height:30px;
  font-weight: bold;
}
.contenedorbotones{
  padding-top:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap: 20px;
}
.btn_rosado{
  background-color:var(--rosado);
  border: 2px var(--rosado) solid;
  color: var(--blanco);
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  transition: all .5s ease;
}
.btn_rosado:hover{
  background-color: var(--negro);
}
.btn_borde{
  background-color:transparent;
  border: 2px var(--rosado) solid;
  color: var(--blanco);
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  transition: all .5s ease;
}
.btn_borde:hover{
  background-color: var(--negro);
}
.beauty{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:stretch;
  padding-top: 10px;
}
.beauty article{
  max-width:550px;
  padding: 10px;
}
.beauty p{
  line-height:30px;
}
.beauty figure{
}
.beauty figure .vela{
  width:100%;
  height:100%;
  object-fit: cover;
  transition: all .5s;
}
.vela:hover{
    opacity: .5;
    border: 8px gray solid;
}
.buscamos{
  background-color:var(--beige);
}
.buscamos h2{
  text-align:center;
  padding-top: 30px;
}
.contenedor_buscamos{
  display:flex;
  justify-content:space-between;
  align-items:stretch;
}
.contenedor_buscamos figure{
  flex-grow: 1;
  padding: 20px 20px 20px 0px;
}
.contenedor_buscamos figure .aromas{
  border-radius: 20px;
  width:100%;
  height:100%;
  object-fit: cover;
  transition: all .5s;
}
.aromas:hover {
    filter: sepia(100%);
}

.contenedor_buscamos_info{
  max-width: 600px;
}
.puesto{
  font-weight: 700;
  margin-top:30px;
  font-size: 20px;
  padding-bottom: 0;
}
.servicios{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:stretch;
  flex-wrap: wrap;
}
.servicios article{
  max-width:350px;
  background-color: var(--amarillo);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  margin: 10px;
}
.servicios figure{
  max-width:200px;
}
.servicios figure img{
  border:10px var(--blanco) solid;
  border-radius: 50%;
}
.ins{
    text-align: center;
}
.contenedortodo{
    justify-content: space-between;
}
.cuatro_img{
    display: flex;
    flex-wrap: wrap;
    max-width: 825px;
}
.cuatro_img figure {
    margin: 0;
}
.cuatro_img figure img {
    width: 400px;
    height: 300px;
    align-items: stretch;
}
.individual{
    display: flex;
    justify-content: flex-end;
    margin-left: 825px;
    margin-top: -615px;
}
.individual figure {
    margin: 0;
}
.individual figure img {
    width: 720px;
    height: 610px;
    align-items: stretch;
}
footer{
  border-bottom: 15px var(--rosado) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
footer a{
  color:var(--rosado);
  text-decoration:none;
  padding-bottom: 10px;
  font-size: 18px;
  transition: all .5s ease;
}
footer a:hover{
  color: var(--negro);
}
.loquesea1{
  border:5px blue solid;
  width: 1000px;
  margin:auto;
}
.loquesea2{
  border:5px green solid;
  width: 1000px;
  margin:auto;
  padding: 20px;
}

/*TABLET*/

@media screen and (max-width:1500px){
  .slidefotos{
    background-position: 0px -150px;
  }
}
@media screen and (max-width:1270px){
  .slidefotos{
    background-position: 0px 0px;
  }
}
@media screen and (max-width:1024px){
  .contenedor_buscamos_info{
    max-width: 500px;
  }
}
@media screen and (max-width:850px){
  .beauty{
    flex-direction: column-reverse;
    justify-content:space-between;
    align-items:center;
    padding-top: 10px;
  }
  .beauty article{
    max-width:95%;
  }
  .beauty h2{
    text-align:center;
  }
  .contenedor_buscamos{
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
  }
  .contenedor_buscamos_info{
    max-width: 90%;
  }
  .contenedor_buscamos font-variant-ligatures: ;{
    flex-grow: 1;
    padding: 10px;
  }
  .buscamos h2{
    font-size: 20px;
    padding: 30px 10px;
  }
}
@media screen and (max-width:768px){
  .servicios article{
  max-width: 90%;
  }
}
/* MOVIL*/
@media screen and (max-width:480px){
    .slidefotos{
        margin: 0;
       height: 800px;
      margin-bottom: -260px;
      }
      .beauty{
       flex-wrap: wrap-reverse;
      }
      .beauty h2{
       text-align: center;
      }
      .beauty p{
        text-align: center;
        line-height:30px;
      }
      .contenedor_buscamos{
        display:flex;
        flex-wrap: wrap;
      }
    .contenedor_cabecera{
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: center;
    }
    .contenedor_cabecera figure{
      max-width: 150px;
    }
    .alineacion{
      width: 100%;
      padding:10px;
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-items:center;
    }
    .contenedor_menu{
      flex-direction: column;
      justify-content:flex-start;
      align-items: flex-start;
      padding: 10px;
      margin: 10px;
      display:none;
    }
    .contenedor_iconomenu{
      display:block;
    }
    .contenedor_menu li{
      border-bottom: 2px #333 dotted;
      width: 100%;
      margin-bottom: 5px;
    }
    .contenedor_menu li a{
      display: block;
    }
    .iconosredes{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    .iconosredes a{
      margin-right:0px;
    }
    .dos{
      order:1;
    }
    .tres{
      order:2;
    }
    .uno{
      order:3;
    }
    h1{
      line-height:40px;
      padding: 0px 20px;
    }
    .infoslide p{
      font-size: 18px;
      text-align: center;
      line-height:20px;
    }
    .btn_rosado{
      padding: 10px 20px;
    }
    .btn_borde{
      padding: 10px 20px;
    }
    .beauty h2{
      font-size: 18px;
    }
    .contenedortodo{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    .cuatro_img{
        margin-left: 30px;
    }
    .individual{
        flex-wrap: wrap-reverse;
        margin: auto;
    }
    .individual figure img{
    margin-left: 30px;
     width: 85%;
     height: 100%;
    }
  }